<!DOCTYPE html>
<html>
<head>
  <title>Event Search</title>
</head>
<body>
<h1>Search Result</h1>
  <div>
    <% @events.each do |event| %>
      <div>
        <%= event.name %>
        <%= event.body %>
      </div>
    <% end %>
  </div>
</body>
</html>